.container {
  width: 100%;
  max-width: 38rem;
  height: 24rem;
  position: relative;
}

.image {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.image img {
  position: absolute;
  z-index: 4;
  width: 100%;
}

.image p,
.image h1 {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  transform: translateX(50%) translateY(-50%);
  text-align: center;
  position: absolute;
}

.image h1 {
  top: 25%;
  font-size: 2.25rem;
  right: 50%;
  font-weight: 700;
}

.image p {
  top: 70%;
  right: 50%;
  font-size: 1.25rem;
  font-weight: 500;
}

.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 15;
  display: flex;
}

.arrow:hover {
  cursor: pointer;
}

.arrow svg {
  margin: auto;
}

.arrow-back {
  left: 0;
  padding-left: 0.5rem;
}

.arrow-forward {
  right: 0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
